{% extends 'base.html' %}

{% block title %}Madlibs!{% endblock %}

{% block content %}

<h1>Madlibs!</h1>

<form action="/form">


    <p>
        <label for="madlib">Choose a Madlib to Get Started!</label>
    </p>
    

    <select name="madlib" id="madlib">

        <option value="">Select a Madlib</option>
        <option value="pizza-parlor">Pizza Parlor</option>
        <option value="dragons">Dragons</option>
        <option value="wash-face">How to Wash Your Face</option>

    </select>

    <p>
        <button type="submit">Let's Go!</button>
    </p>
    

</form>

{% endblock %}